.container-sidebar-tela{
  display: flex;
  flex-direction: row;

}
.container-tela{
  width: 100%;
  padding: 20px 40px;
}

@media (max-width: 500px) {
  .container-tela{
    margin-left: 80px;
    width: 100%;
    height: calc(100vh - 120px);
    padding: 0;
  }
}